# Directories
alias dev="cd $HOME/Developments"
alias dotfiles="cd $HOME/.dotfiles"
alias github="cd $HOME/GitHub"
alias sites="cd $HOME/Sites"

# Shortcuts
alias o="open ."
alias c="clear"
alias flushdns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
alias ip="curl https://diagnostic.opendns.com/myip ; echo"
alias l="ls -laF"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# PHP
alias cda="composer dump-autoload -o"
alias cfresh="rm -rf vendor/ composer.lock && composer update && composer install"
alias composer="php -d memory_limit=-1 /usr/local/bin/composer"
alias switch-php74="brew unlink php && brew link --overwrite --force php@7.4"

# Laravel
alias sc="php spark serve"
alias sl="php artisan serve"
alias fresh="php artisan migrate:fresh --seed"
alias seed="php artisan db:seed"

# JS
alias check="yarn upgrade-interactive --latest"
alias nfresh="rm -rf node_modules/ package-lock.json && yarn"

# Git
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gst="git status"
alias gpf="git push --force"
alias nah='git reset --hard;git clean -df'
alias pull="git pull"
alias push="git push"
