# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$@"
}

# Start an local server, optionally specifying the port
function server() {
	mysql.server start
	sleep 2 && open "http://localhost"
}

archive () {
  zip -r "$1".zip -i "$1" ;
}

alias mysqladm='mysql -u root'
